body {
    position: relative;
}

.button {
  padding: 1em 1.5em;
  background-color: rgb(255, 202, 0);
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms;
}

.button:hover {
  box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 6px rgb(139,186, 184);
}

.button-con {
  padding-top: 20px;
  padding-bottom: 20px;
}

.email {
  transform: scale(1.2);
  background-color: rgb(255, 202, 0);
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: all 300ms;
}

.email:hover {
  box-shadow: 0px 0px 0px 2px black, 0px 0px 0px 6px rgb(139,186, 184);
}

#intro {
	background: url(./img/bg.jpg) no-repeat center top;
	padding-top: 250px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;

    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

#intro h1 {
	color: rgb(139,186, 184);
	letter-spacing: 2px;
	font-size: 80px;
	font-weight: bold;
}

#intro h3 {
	color: rgb(139,186, 184);
	letter-spacing: 2px;
	font-size: 40px;
}

.about {
	padding-top: 100px;
	padding-left: 30px;
  height:100vh;
  background-color: rgb(255, 202, 0);
}


.about2 {
  padding-top: 100px;
  padding-left: 30px;
  height:100vh;
  color: black;
	background-color: rgb(139,186, 184);
}

.about3 {
  padding-left: 30px;
  padding-top: 100px;
  height:100vh;
	background-color: rgb(255, 202, 0);
}

.text {
  color: #f2f2f2;
}

.text h1 {
  letter-spacing: 2px;
  font-size: 80px;
  font-weight: bold;
}

.text p {
  letter-spacing: 2px;
  font-size: 40px;
}

#end {
	padding-top: 30px;
	padding-bottom: 50px;
	background-color: #2f2f2f;
  color: #f2f2f2;
}

#david {
  margin-top: 200px;
  background-color: #2f2f2f;
  color: #f2f2f2;
  border-bottom: 10px;
  border-color: white;
}
