@import url('https://fonts.googleapis.com/css?family=Alegreya|Space+Mono|Alike+Angular|Diplomata+SC');
/*@import url('https://fonts.googleapis.com/css?family=Bitter');*/

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    background: url(./img/bgpic.jpeg);
    margin-top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d4dcf6;
}

.btn {
  flex: 1 1 auto;
  width: 85px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  background-color: #d4dcf6;
  transition: 2.0s;
  background-size: 150% auto;
  box-shadow: 0 0 5px;
  /*text-transform: uppercase;*/
  /*text-shadow: 0px 0px 10px;*/
  /*border-radius: 10px;*/
 }

.btn-github:hover {
  /*background-position: right top;*/
  background-position: right bottom; /* change the direction of the change here */
  background-image: url(./img/github.svg);
}

.btn-linkedin:hover {
  background-position: bottom;
  background-image: url(./img/linkedin.svg);
}

.btn-gmail:hover {
  background-position: bottom;
  background-image: url(./img/gmail.svg);
}

.btn-medium:hover {
  background-position: bottom;
  background-image: url(./img/medium.svg);
}

.btn-me:hover {
  color: black;
  background-position: right;
  /*background-image: url(git.svg);*/
  background-image: linear-gradient(to top, #ffb500 10%, #d4dcf6 100%);
}

.container {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center right;
  /*margin-top: 40px;*/
}

.about {
  font-family: 'Alike Angular', serif;
  /*font-family: 'Space Mono', monospace;*/
  /*font-family: 'Alegreya', serif;*/
  /*margin-top: 30px;*/
  width: 60%;
  margin-left: 38%;
  height: 360px;
  font-weight: 400;
  text-align: right;
  color: #1C2841;
}

#title {
  font-family: 'Space Mono', monospace;
  margin-left: 55px;
  text-align: left;
  font-weight: 700;
  font-size: 50px;
}

.intro {
  margin-top: 70px;
  width: 100%;
}

.text {
  font-size: 18px;
  margin-right: 50px;
}

.info {
  margin-right: 45px;
  text-align: right center;
  display: block;
  padding-top: 25px;
  font-size: 18px;
}

.info ul {
	list-style-type: none;
}

.info li {
	float: left;
  border-left: solid 1px #1C2841;
  padding-left: 5px;
  padding-right: 5px;
}

.info #first-btn-item {
  border-left: none;
}

.projects {
  text-align: center;
  height: 400px;
  color: hotpink;
  font-family: 'Space Mono', monospace;
  /*margin-bottom: 60px;*/
}

#hi{
  border-color: transparent;
}

.thumbnail:hover {
  /*background-color:transparent;*/
  /*border-style: solid;
  border: 2px solid black;
  border-radius: 1px;
  margin: 15px;
  padding: 5px;
  transition: all .07s ease;*/
  /*background: rgba(0,0,0,0.4);*/
  transform: scale(1.1);
  border-color: black;
  box-shadow: 0 0 1rem #ffc600;
  font-size: 3.5rem;
}
