@import url('https://fonts.googleapis.com/css?family=Istok+Web');

body {
    position: relative;
}

#intro {
  background: linear-gradient(rgba(0,130,170,1),rgba(0,130,170,.2)), url('./img/bg.jpeg');
  /* oldgradient: linear-gradient(to bottom right,#dc4225,#00FF7F);*/
  opacity: .8;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 650px;
	width: 100%;
  height: 100vh;

    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-background-attachment: fixed;
    -moz-background-attachment: fixed;
    -o-background-attachment: fixed;
    background-attachment: fixed;

    -webkit-background-position: center;
    -moz-background-position: center;
    -o-background-position: center;
    background-position: center;

    -webkit-background-repeat: no-repeat;
    -moz-background-repeat: no-repeat;
    -o-background-repeat: no-repeat;
    background-repeat: no-repeat;
}

.introText {
  font-family: 'Istok Web', sans-serif;
	color: black;
	letter-spacing: 2px;
	font-size: 80px;
	font-weight: bolder;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -70%);
}

.introText2 {
  font-family: 'Istok Web', sans-serif;
	color: white;
	letter-spacing: 2px;
	font-size: 80px;
	font-weight: bolder;
  padding-top: 200px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -80%);
}
