@import url('https://fonts.googleapis.com/css?family=Alegreya|Space+Mono|Alike+Angular|Diplomata+SC');
@import url('https://fonts.googleapis.com/css?family=Istok+Web');

body {
  animation: bgcolor-change 30s ease-in-out infinite alternate;
  -moz-animation: bgcolor-change 30s ease-in-out infinite alternate;
  -webkit-animation: bgcolor-change 30s ease-in-out infinite alternate;
}

@-webkit-keyframes bgcolor-change {
  0% {background: #f7d08a;}
  50% {background: #f79f79;}
  100% {background: #C16C55;}
}

@-moz-keyframes bgcolor-change {
  0% {background: #f7d08a;}
  50% {background: #f79f79;}
  100% {background: #C16C55;}
}

@keyframes bgcolor-change {
  0% {background: #f7d08a;}
  50% {background: #f79f79;}
  100% {background: #C16C55;}
}

.btn {
  flex: 1 1 auto;
  width: 85px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  background-color: #d4dcf6;
  background-size: 150% auto;
  transition: background-position 1s linear;
 }

.btn-github:hover {
  transform: scale(1.2);
  background-position: bottom;
  background-image: url(img/github.svg);
  background-color: transparent;
}

.btn-linkedin:hover {
  transform: scale(1.2);
  background-position: bottom;
  background-image: url(img/linkedin.svg);
  background-color: transparent;
}

.btn-gmail:hover {
  transform: scale(1.2);
  background-position: bottom;
  background-image: url(img/gmail.svg);
  background-color: transparent;
}

.btn-medium:hover {
  transform: scale(1.2);
  background-position: bottom;
  background-image: url(img/medium.svg);
  background-color: transparent;
}

.btn-me:hover {
  transform: scale(1.2);
  background-position: bottom;
  background-image: url(img/check.svg);
  background-color: transparent
}

.container {
  display: block;
  text-align: center right;
  margin-top: 25px;
}

.about {
  width: 100%;
  font-family: 'Alike Angular', serif;
  font-weight: 400;
  text-align: right;
  color: #1C2841;
}

.text {
  width: 100%;
  font-family: 'Alike Angular', serif;
  font-weight: 400;
  text-align: right;
  color: #1C2841;
  font-size: 24px;
  /*left:-85px;
  top:97px;
  position: relative;*/
}

.info {
  align-content: center;
  text-align: center;
  padding-top: 25px;
  font-size: 18px;
}

.info ul {
	list-style-type: none;
  display: inline-block;
}

.info li {
	float: left;
  border-left: solid 1px #1C2841;
  padding-left: 5px;
  padding-right: 5px;
}

.info #first-btn-item {
  border-left: none;
}

.row {
  margin-top: 12px;
}

.projects {
  margin-top: 100px;
  text-align: center;
}

.thumbnail {
  margin-top: 20px;
  height: 150px;
}

#budget {
  background-image: url(img/budgetbutler.png);
  background-size: cover;
}

#rollout {
  background-image: url(img/rollout.png);
  background-size: cover;
}

#cake {
  background-image: url(img/cake.png);
  background-size: cover;
}

.btn-links {
  display: none;
  background-color: transparent;
}

.description {
  display: none;
}

.thumbnail:hover .btn-links, .thumbnail:active .btn-links {
  margin-top: 30px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  border-color: black;
}

.btn-links:hover, .btn-links:active {
  transform: scale(1.2);
  border-color: black;
  background-color: #d4dcf6;
}

.thumbnail:hover .description, .thumbnail:active .description {
  height: 183px;
  margin-top: 10px;
  color: #1C2841;
  display: block;
  background-color: white;
  opacity: .8;
}

.thumbnail:hover, .thumbnail:active {
  height: 200px;
  transform: scale(1.15);
  border-color: black;
  font-size: 18px;
}

.hide {
  display: none;
}

#projects {
  font-family: 'Istok Web', sans-serif;
}
